/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #E6E6FA, white); /* Lighter lavender */
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4A4A8E;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero {
    text-align: center;
    max-width: 600px;
    padding: 20px;
}

.content h1 {
    font-size: 3rem;
    color: #4A4A8E;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #555;
}

#email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#email-form input[type="email"],
#email-form .btn {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px; /* Set equal width for email and button */
    margin-right: 10px;
}

#email-form .btn {
    background-color: #4A4A8E;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
}

#email-form input[type="email"] {
    margin-right: 10px;
}

/* Footer Buttons */
footer {
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-btn {
    padding: 10px 20px;
    background-color: #4A4A8E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.footer-btn:hover {
    background-color: #6A6AAB;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content h1 {
        font-size: 2.5rem;
    }

    #email-form {
        flex-direction: column;
    }

    #email-form input[type="email"] {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-buttons {
        flex-direction: column;
    }
}
